body
{
margin:0;
padding:0;
font-size: 18px;
text-align: left;
font-family: 'Cedarville Cursive', cursive;
}
.form1
{
height: 200px;
background-color: #555;
}
.parent
          {
            width:100%;
            display:flex;
            margin-top:50px;
            left-margin: 30px;
          }
          .child1
          {
            width:70%;
          }
              .child2
          {
            width:70%;
            color:white;
            left margin: 30px;
          }
input
{
margin-left: 30px;
height: 40px;
width:100px;
}
textarea
{
margin-left: 30px;
height: 40px;
width:100px;
}
label
{
margin-left: 15px;
}

div
{
width:100%;
}
nav
{
height:50px;
background-color: #161E1F;
font-family: 'Cedarville Cursive', cursive;
color: "Golden";
}
nav ul
{
margin:0;
padding:0;
list-style: none;
text-align: center;
}
nav li
{
display: inline-block;
}
nav a
{
display: block;
margin: 10px;
color: #fff;
text-decoration: none;
}
nav a:hover
{
background-color: #555;
}
.container2
{
width: 100%;
height: 700px:
justify-content: center;
text-align: center;
left: 50%;
animation-name: fade-in;
animation-duration: 5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul.icons {
   cursor: default;
   list-style: none;

            margin-top: 40%;
            margin-left:40%;

  }

   ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;

   }

    ul.icons li a {
     text-decoration: none;
     position: relative;
     display: block;
     width: 5em;
     height: 5em;
     border-radius: 100%;
     border: solid 2px black;
     line-height: 3.75em;
     overflow: hidden;
     text-align: center;
     text-indent: 3.75em;
     white-space: nowrap;
    }

     ul.icons li a:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
     }

     ul.icons li a:before {
      color: #ffffff;
      text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
     }

     ul.icons li a:hover:before {
      text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496, 0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
     }

     ul.icons li a:before {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      font-size: 1rem;
      line-height: inherit;
      text-align: center;
      text-indent: 0;
     }

     ul.icons li a:hover {
      border-color: #ff7496;
     }

     #footer {
  -moz-align-self: -moz-flex-end;
  -webkit-align-self: -webkit-flex-end;
  -ms-align-self: -ms-flex-end;
  align-self: flex-end;
  width: 100%;
  padding: 1.5em 0 0 0;
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  text-align: center;
 }
